
/*#########################################################################
########################   Newzald Font, for Headings   #######
###########################################################################*/


/*#############   THIN VARIANT   ################*/
@font-face {
  font-family:Newzald;
  font-weight:300;
  src: url('Newzald Book.otf') format("opentype");
}
@font-face {
  font-family:Newzald;
  font-weight:300;
  font-style:italic;
  src: url('Newzald Book Italic.otf') format("opentype");
}
/*#############   REGULAR   ################*/
@font-face {
  font-family:Newzald;
  font-weight:400;
  src: url('Newzald Medium.otf') format("opentype");
}
@font-face {
  font-family:Newzald;
  font-weight:400;
  font-style:italic;
  src: url('Newzald Medium Italic.otf') format("opentype");
}
/*#############   BOLD   ################*/
@font-face {
  font-family:Newzald;
  font-weight:700;
  src: url('Newzald Bold.otf') format("opentype");
}
@font-face {
  font-family:Newzald;
  font-weight:700;
  font-style:italic;
  src: url('Newzald Bold Italic.otf') format("opentype");
}
/*#############   BLACK   ################*/
@font-face {
  font-family:Newzald;
  font-weight:900;
  src: url('Newzald Black.otf') format("opentype");
}
@font-face {
  font-family:Newzald;
  font-weight:900;
  font-style:italic;
  src: url('Newzald Black Italic.otf') format("opentype");
}

/*#########################################################################
########################   Naveid Font, for cover titles and such   #######
###########################################################################*/

/* Extra Light */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid ExtraLight Oblique.otf') format('opentype');
  font-weight: 200;
  font-style: oblique;
}

/* Light */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Light Oblique.otf') format('opentype');
  font-weight: 300;
  font-style: oblique;
}

/* Thin */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Thin Oblique.otf') format('opentype');
  font-weight: 100;
  font-style: oblique;
}

/* Medium */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Medium Oblique.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

/* Semi Bold */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid SemiBold Oblique.otf') format('opentype');
  font-weight: 600;
  font-style: oblique;
}

/* Bold */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Bold Oblique.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

/* Black */
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Naveid';
  src: url('Naveid Black Oblique.otf') format('opentype');
  font-weight: 900;
  font-style: oblique;
}

/*#########################################################################
########################   Berlingske Slab Font, for main text   ##########
###########################################################################*/

/* Thin */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

/* Light */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

/* Regular */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Extra Bold */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Extra Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Extra Bold Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

/* Black */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Black Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* Poster */
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Poster.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: 'Berlingske Slab';
  src: url('Berlingske Slab Poster Italic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}

